footer {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
footer p {
  max-height: 2vh;
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 0.5rem;
}
.footer__socials {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__social {
  margin: 0.4rem;
}
.footer__social img {
  width: 1.5rem;
  height: 1.5rem;
}
